
.table h {
    align-items: center;
  }
  .table_content {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); 
   
  }
  
  
  .table_content thead {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .table_content th,
  .table_content td {
    padding: 12px 15px;
  }
  
  
  .table_content tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .table_content tbody td[data-href]{
    cursor: pointer;
    
  }